<div fxLayout="column" style="height: 100%">
  <div fxFlex="80" fxFlex.xs fxLayout="column" style="overflow-y: scroll;">
    <div fxFlex fxFlex.xs="30" class="banner-container">
      <img class="banner" src="/assets/banner-nosotros.jpg" alt="banner" />
      <div class="titulo">Nosotros</div>
    </div>
    <div
      fxFlex
      fxFlex.xs="70"
      fxLayout="column"
      fxLayoutAlign="center center"
      style="width: 100%; text-align: center; height: 100%;"
    >
      <p class="texto" fxFlex style="text-align: center; font-size: 18px">
        Somos una empresa que nasce con el primer emprendimiento imobiliario que
        es Loteamiento Central y contamos con varios proyectos futuros de
        loteamiento tanto en la ciudad de Salto del Guairá como en otras
        ciudades del Paraguay.
      </p>
      <p class="texto" fxFlex style="text-align: center; font-size: 18px">
        Nuestro objetivo principal es brindar a nuestros clientes la posibilidad
        de construir un futuro con seguridad y bienestar.
      </p>
      <p class="texto" fxFlex style="text-align: center; font-size: 18px">
        Nos comprometemos a desarrollar urbanizaciones de forma respetuosa con
        el medio ambiente tomando medidas para frenar el posible impacto
        indirecto y/o directo de cualquiera de nuestras actividades.
      </p>
    </div>
  </div>
  <div
    fxFlex="20"
    fxFlex.xs="20"
    class="footer-container"
    style="background-color: #239b56; width: 100%"
  >
    <div fxLayout="row" fxLayoutAlign="center center">
      <div
        fxFlex.gt-sm="50"
        fxFlex="60"
        fxFill
        class="footer-text"
        style="color: white; text-align: center"
      >
        Tu lote te espera! Escribinos
      </div>
      <div fxFlex.gt-sm="10" fxFlex="40" (click)="whatsClick()">
        <a
          class="iconify"
          data-icon="mdi-whatsapp"
          data-inline="false"
          style="color: white; width: 80px; height: 80px"
        ></a>
      </div>
    </div>
  </div>
</div>
