<div style="height: 100%; overflow-y: hidden">
  <mat-toolbar style="background-color: white">
    <div fxFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div fxFlex.gt-sm="15" fxFlex.xs="95">
          <a href="">
            <img
            style="height: 60px; padding-top: 15px"
            src="assets/lclogo.png"
            alt="logo"
          />
          </a>
        
        <!-- <a mat-button href="" style="color: white; font-size: 20px"
            >Central Loteamiento</a
          > -->
      </div>
      <div fxFlex="10" fxShow="true" fxHide.lt-md="true">
        <a mat-button href="mapa" style="font-size: 20px">Mapa</a>
      </div>
      <div fxFlex="10" fxShow="true" fxHide.lt-md="true">
        <a mat-button href="nosotros" style="font-size: 20px">Nosotros</a>
      </div>
      <div fxFlex="10" fxShow="true" fxHide.lt-md="true">
        <a mat-button href="contacto" style="font-size: 20px">Contacto</a>
      </div>
      <div fxShow="true" fxHide.gt-sm="true">
        <button
          mat-icon-button
          style="padding-right: 16px"
          (click)="sidenav.toggle()"
        >
          <mat-icon style="font-size: 40px">menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      #sidenav
      fxLayout="column"
      style="width: 50%; background-color: #239b56"
    >
      <div fxLayout="column">
        <a href="mapa" mat-button style="font-size: 20px; color: white">Mapa</a>
        <a href="nosotros" mat-button style="font-size: 20px; color: white"
          >Nosotros</a
        >
        <a href="contacto" mat-button style="font-size: 20px; color: white"
          >Contacto</a
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="overflow-y: hidden;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
