<div fxLayout="column" style="height: 100%">
  <div fxFlex fxFlex.xs="35" class="banner-container">
    <img class="banner" height="300px" src="/assets/banner-nosotros.jpg" alt="banner" />
    <div class="titulo">Contacto</div>
  </div>
  <div
    fxFlex="15"
    fxFlex.xs
    fxLayout.gt-sm="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    style="width: 100%; text-align: center;"
  >
    <div fxFlex>
      Opción 1:
      <a href="" (click)="whatsClick(url1)">
        <h1>+595 993 332 833</h1>
      </a>
    </div>
    <div class="ubicacion" fxFlex style="width: 100%; text-align: center">
      Central de Atendimiento:
      <a href="" (click)="mapsClick()">
        <h2>Av. Paraguay c/ Av. Itaipu</h2>
      </a>
    </div>
    <div fxFlex>
      Opción 2:
      <a href="" (click)="whatsClick(url2)">
        <h1>+595 983 419 819</h1>
      </a>
    </div>
  </div>
  <div
    fxFlex="20"
    fxFlex.xs="20"
    class="footer-container"
    style="background-color: #239b56; width: 100%"
  >
    <div fxLayout="row" fxLayoutAlign="center center">
      <div
        fxFlex.gt-sm="50"
        fxFlex="60"
        fxFill
        class="footer-text"
        style="color: white; text-align: center"
      >
        Tu lote te espera! Escribinos
      </div>
      <div fxFlex.gt-sm="10" fxFlex="40" (click)="whatsClick(url1)">
        <a
          class="iconify"
          data-icon="mdi-whatsapp"
          data-inline="false"
          style="color: white; width: 80px; height: 80px"
        ></a>
      </div>
    </div>
  </div>
</div>
